html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  color: #333;
  background-color: #fff;
  border-color: #999999;
  border-width: 2px;
  line-height: 1.5;
  margin: 2em 3em;
  text-align: center;
  padding: 0 100px 0 100px;
}
